body{
    background: #000;
}

.header,
.main {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1 {}
.header h1 a {}
.header h1 a img {width:80px;}
.header .menu {
    display:flex;
    gap:28px;
    margin-right: 20px;
}
.header .menu a:nth-child(3) {
    color: #00ff66;
}
.header .menu a {
    color:#fff;
    font-weight:500;
    font-size: 1.2rem;
    transition:0.3s;
}
.header .menu a:hover {
    transform: translateY(-3px);
}

.main {
    background: #000;
}
.main .year {
    position: relative;
    margin-bottom: 20px;
    
}
.main .year h2 {
    color: #fff; font-size: 1.7rem;
    text-align: center;
}
.main .year a {
    color: #fff; position: absolute;
    right: 0;
    top:50%;
    transform:translateY(-50%);

}

.main .portfolio_list {background: #000}
.main .portfolio_list a {
    display: flex;
    align-items: center;
    position: relative;

    background: #333;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 18px;

    transition: 0.3s;
}

.main .portfolio_list a:hover {
    transform: translateY(-2px);
}

/* 여기 포토폴리오 사진들관련 */

.main .portfolio_list a .photo {
    width: 150px;
    height: 110px;
    background: #fff;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    margin-right: 20px;
}
.main .portfolio_list a .photo img {
    width: 90px;
    transition: 0.3s;
}
.main .portfolio_list a:hover .photo img {
    transform: scale(1.2);
}

.main .portfolio_list a .info {background: #333;}
.main .portfolio_list a .info h3 {
    color: #fff; font-size: 1.8rem;
    padding-bottom: 5px;
    margin-top: 10px;
}

/* 상세설명 조절하는 줄 */
.main .portfolio_list a .info p {color: #aaa; margin-bottom: 10px;}

/* 여기서부터 이름들! */
.main .portfolio_list a .info .member {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}
.main .portfolio_list a .info .member span {
    background: #aaa;
    color: black;

    padding: 6px 10px;

    border-radius: 4px;

    font-size: 0.9rem;
    font-weight: 500;
}

.main .portfolio_list a .info .member span:first-child {
    background: #16a8df;
    color: #fff;
}

.main .portfolio_list a .menu {
    position: absolute;
    right: 20px;
    top: 18px;

    width: 22px;
    height: 18px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

/* 삼단바 */

.main .portfolio_list a .menu span {
    display: block;
    width: 20px;
    height: 2px;
    background: #aaa;
    transition: 0.3s;
}

.main .portfolio_list a:hover .menu span:nth-child(1) {transform-origin:left center; transform: scaleX(0.5);}
.main .portfolio_list a:hover .menu span:nth-child(3) {transform-origin:right center; transform: scaleX(0.5);}

@media screen and (max-width: 768px){

    .main .portfolio_list a{
        flex-direction: column;
        text-align: center;
    }

    .main .portfolio_list a .photo{
        margin-right: 0;
        margin-bottom: 20px;
        width:270px;
        height:160px;
        margin-top: 30px;
        
    }
    .main .portfolio_list a .photo img{
    
        width:120px;
        height:150px;
        
        
    }

    

    .main .portfolio_list a .info{
        width: 100%;
    }

    .main .portfolio_list a .info .member{
        justify-content: center;
    }

}

footer {background: #333; margin-top: 30px;}
footer .footer_inner {
    width: 90%; max-width:1200px;
    margin:0 auto;
    padding: 50px 0;

    display: flex;
    justify-content: space-between;
}
footer .footer_inner .left {}
footer .footer_inner .left .rule {padding-bottom: 20px;}
footer .footer_inner .left .rule a{
    color:#fff
}
footer .footer_inner .left .sns {
    color:#fff; padding-bottom: 20px;

}

footer .footer_inner .left .sns a{
    text-decoration:none;
}

footer .footer_inner .left .email {}
footer .footer_inner .left .email a{
    color:#fff;
}
footer .footer_inner .right {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-right: 100px;
}
footer .footer_inner .right a {
    color:#fff; transition: 0.1s;
    font-size: 0.9rem;
}
footer .footer_inner .right a:hover{
    transform: translateY(-2px);
} 

footer .footer_inner .right span{
    color: #aaa; font-weight: 200;
}
footer .copyright {
    padding: 15px 0;
    color:#9b9999;
    background: #1d1d1d;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
}

@media screen and (max-width: 768px) {
    footer .footer_inner{
        flex-direction:column;
        text-align:center;
        align-items:center;
        gap:20px;
    }

    footer .footer_inner .right{
        display:none;
    }

    footer .footer_inner .left .sns{
        justify-content:center;
    }
}

